<html>
    <head>
        <title> Tela de Busca de Cuidadores </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="main-view flex" id="cuidadores">
            <div class="header flex-row gradient-c">
                <div style="width: 65px"></div>
                <div class="flex flex-center-a flex-center-b">
                    <div class="logo-circle-sm flex-center-a flex-center-b">
                        <div class="logo-cross gradient-b"></div>
                    </div>
                </div>
                <div style="width: 65px"></div>
            </div>
            <div class="content flex">
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
                <div class="flex-row" style="border-bottom: 1px solid #DDD">
                    <div style="min-height: 70px; width: 70px; padding: 8px">
                        <div class="avatar-wrap flex"></div>
                    </div>
                    <div class="flex flex-center-a" style="padding: 8px">
                        <p> Cuidador 1 </p>
                        <p> Especialista em Especialidade 1 </p>
                        <p> (11) 99999-9999 </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>