<html>
    <head>
        <title> Tela de Login </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="main-view gradient-a flex flex-center-a" id="login">
            <div class="flex flex-end-a flex-center-b" id="c1">
                <div class="logo-circle flex-center-a flex-center-b">
                    <div class="logo-cross gradient-b"></div>
                </div>
                <h1 class="logo-title"> Cuidadores </h1>
            </div>
            <div class="flex" id="c2">
                <div class="flex-center-a flex-center-b">
                    <div class="login-input flex-center-a" id="user">
                        <input type="text" placeholder="Login">
                    </div>
                    <div class="login-input flex-center-a" id="pass">
                        <input type="password" placeholder="Senha">
                    </div>
                </div>
                <div class="flex-row flex-center-a flex-center-b" style="width: 75%; margin: 7 auto;">
                    <button class="button flex button-a" style="margin-right: 10px"> Cadastrar </button>
                    <button class="button flex button-a"> Entrar </button>
                </div>
                <div>
                    <a href="#" style="text-align: center; margin-top: 5px"> Esqueci minha senha </a>
                </div>
            </div>
        </div>
    </body>
</html>