<html>
    <head>
        <title> Tela de Cadastro </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="main-view flex" id="register">
            <div class="header flex-row gradient-c">
                <div style="width: 65px"></div>
                <div class="flex flex-center-a flex-center-b">
                    <div class="logo-circle-sm flex-center-a flex-center-b">
                        <div class="logo-cross gradient-b"></div>
                    </div>
                </div>
                <div style="width: 65px"></div>
            </div>
            <div class="subheader flex-center-a">
                <p> Cadastro </p>
            </div>
            <div class="content flex">
                <div class="flex-row" style="margin: 17px 0px">
                    <div class="flex flex-row flex-center-a flex-center-b">
                        <input type="radio" name="type-u" style="margin-right: 5px" checked>
                        <p> Sou um Responsável </p>
                    </div>
                    <div class="flex flex-row flex-center-a flex-center-b">
                        <input type="radio" name="type-u" style="margin-right: 5px">
                        <p> Sou um Cuidador </p>
                    </div>
                </div>
                <div class="form-section">
                    <p> Dados Pessoais </p>
                    <hr>
                </div>
                <div class="input-field">
                    <p> Nome </p>
                    <input type="text" />
                </div>
                <div class="input-field">
                    <p> Data de Nascimento </p>
                    <input type="text" />
                </div>
                <div class="input-field">
                    <p> Estado </p>
                    <input type="text" />
                </div>
                <div class="input-field">
                    <p> Cidade </p>
                    <input type="text" />
                </div>
                <div class="input-field">
                    <p> Telefone </p>
                    <input type="text" />
                </div>

                <div class="form-section" style="margin-top: 15px">
                    <p> Dados de Autenticação </p>
                    <hr>
                </div>
                <div class="input-field">
                    <p> E-mail </p>
                    <input type="text" />
                </div>
                <div class="input-field">
                    <p> Senha </p>
                    <input type="password" />
                </div>
                <div class="input-field">
                    <p> Confirme sua senha </p>
                    <input type="password" />
                </div>
                <div class="flex-row flex-center-a" style="margin-top: 25px; margin-bottom: 7px">
                    <button class="button flex button-a" style="height: 50px"> Cadastrar </button>
                </div>
            </div>
        </div>
    </body>
</html>